html {
  width: 100%;
}
table {
  table-layout: fixed;
  width: auto;
}
td {
  padding-left: 5px;
  word-wrap: break-word;
  width: auto;
}
.note {
  max-width: 500px;
}
p {
  text-indent: 2rem;
  word-wrap:break-word;
}
